 .hr-footer{
    border:#ff8000;
    border-top: 1px dotted #999;
    height: 6px;
   }
   .nav-link2 {
    display: block;
    padding: .5rem 1rem;
}
.nav-link2:hover {
    text-decoration: none;
}
.navbar-expand-lg .navbar-nav .nav-link2 {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-dark .navbar-nav .active>.nav-link2, .navbar-dark .navbar-nav .nav-link2.active, .navbar-dark .navbar-nav .nav-link2.show, .navbar-dark .navbar-nav .show>.nav-link2 {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link2:focus, .navbar-dark .navbar-nav .nav-link2:hover {
    color: #ff8000 ;
    opacity: 0.9;
}
.navbar-dark .navbar-nav .nav-link2 {
    color: rgba(255,255,255);
}

.dropdown-item2 {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item2:focus, .dropdown-item2:hover {
    color: #ff8000;
    text-decoration: none;
    background-color: #f8f9fa;
}
.border-ligh2{
  border-color: #ff8000!important;
}
.border2 {
    border: 1px solid #ff8000!important;
}
.nav-link3 {
    display: block;
    padding: .5rem 1rem;
    color: #ffff;
}
a.nav-link3 {
    display: block;
    padding: .5rem 1rem;
    color: #ffff;
}
.nav-tabs2 .nav-link3 {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-tabs2 .nav-item3.show .nav-link3, .nav-tabs2 .nav-link3.active{
    color: #ff8000;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}